#registered {
    margin-top: 50px;
}

#registered img {
    margin-bottom: 0px;
    width: 100px;
    height: 100px;
}

#registered span {
    clear: both;
    display: block;
}
table, th, td {
   border: 1px solid black;
}
body{
  color: #fff;
  background-color:#f0f0f0;
  font-family:helvetica;
  background:url('http://clevertechie.com/img/bnet-bg.jpg') #0f2439 no-repeat center top;
}
table {
    width: 100%;
}

th {
    height: 50px;
}
th {
    background-color: #4CAF50;
    color: white;
}