  body {
    background-image: url('images/white.jpg');
    background-color: #cccccc;
}
  h1 {
    color: black;
    font-family: italic;
    font-size: 300%;
    text-align: center;
  	text-decoration: underline;
} 
.linka a {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 200px;

}
.linkb a {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 5%;
}
